/* Custom properties */
@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-purple-950: hsl(292 42% 14%);
    --c-purple-600: hsl(292 16% 49%);
    --c-purple-100: hsl(275 100% 97%);
    --c-violet: hsl(281 83% 54%);
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
  }
}

/* Typography classes */
.text-preset-1 {
  font-size: clamp(2rem, 0.5687rem + 6.1069vw, 3.5rem);
  font-weight: 700;
}

.text-preset-2 {
  font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
  font-weight: 600;
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Main styling */
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--c-purple-100);
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-300);
}

main {
  max-width: 37.5rem;
  background-color: var(--c-white);
  border-radius: clamp(0.5rem, calc(0.023rem + 2.036vw), 1rem);
  padding: clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
}

.faq-header {
  display: flex;
  gap: var(--spacing-300);
  margin-block-end: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
}

.faq-header img {
  width: clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  height: auto;
}

.faq-item-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-300);
  margin-block-end: var(--spacing-300);
  cursor: pointer;
}

.faq-item-question:hover {
  color: var(--c-violet);
}

.faq-item-answer {
  font-size: clamp(0.88rem, calc(0.756rem + 0.509vw), 1.00rem);
  line-height: 1.5;
  color: var(--c-purple-600);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--c-purple-100);
  margin-block: var(--spacing-300);
}

/* Media query */
@media (min-width: 48rem) {
  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}